@import './reset.scss';
@import './base-style.scss';
@import './bootstrap-grid.scss';

// ------------------------------------------------------------------------------------------------
// EXCHANGE
// ------------------------------------------------------------------------------------------------

.exchange {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spacing-20 {

	input,
	select {
		margin-bottom: 20px;
	}
}

// ------------------------------------------
// ERROR
// ------------------------------------------
.server-error {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		font-size: 80px;
		color: red;
	}

	p {
		font-size: 42px;
		color: #000;
		margin-bottom: 5px;
	}
}